<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

        <body>
            <main>
                <div>
                    <h1> {{todo_list_detail.name}} </h1> 
                    <a href="{% url 'todo_list_update' todo_list_detail.id %}">Edit</a>
                    {% comment %} <P> Edit </p> {% endcomment %}
                    <h2> Tasks </h2>
                    <table>
                        <tr>
                            <th> Task </th>
                            <th> Due Date </th>
                        </tr>
                         {% for detail in todo_list_detail.items.all %}
                        <tr>
                            <td><a href ="{% url 'todo_list_list'%}">{{detail.task}}</a> </td> 
                            <td> {{detail.due_date|date:'M j, Y '}} </td>
                        </tr> 
                        {% endfor %}
                    </table>
        
                </div>
            </main>
        
        </body> 