<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div>
            <h1> My List </h1>
            <P> <a href="{% url 'todo_list_create' %}"> Create a new list </p>
            <table>
                <tr>
                    <th> Name </th>
                    <th> Number of items </th>
                </tr>
                 {% for todo in todo_list_list %}
                <tr>
                    <td><a href ="{% url 'todo_list_detail' todo.id %}">{{todo.name}}  </a></td> 
                    <td> {{todo.items.all|length}}</td>
                </tr> 
                {% endfor %}
            </table>

        </div>
    </main>

</body>

</html>